<%- include('layout/Header',{ 
    title: 'Registrar-se'
}) %>

<%- include('layout/NavBar') %>
    
<div class="container container-top">
    <h1 class="display-5">REGISTER</h1>
    <br>
    <form action="/register" class="validated-form" method="POST" novalidate>
        <div class="mb-3">
            <label class="form-lable" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" required>
        </div>
        <div class="mb-3">
            <label class="form-lable" for="email">Email ID</label>
            <input class="form-control" type="email" name="email" id="email" required>
        </div>
        <div class="mb-3">
            <label class="form-lable" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
        </div>
        <button class="btn btn-secondary" type="submit">Register</button>
    </form>
</div>
    
<%- include('layout/Footer') %>